# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.php text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.pot text eol=lf
*.po text eol=lf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.webm binary
*.ico binary
*.svg text

# Exclude from export
/tests export-ignore
/docs export-ignore
*.test.js export-ignore
*.test.php export-ignore
*.spec.js export-ignore
