{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 140,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"parenSpacing": true,
	"jsxBracketSameLine": false,
	"bracketSameLine": false,
	"semi": true,
	"arrowParens": "always",
	"endOfLine": "lf"
}
